.Alert {
  padding: 20px;
  margin: 20px 5px;
  border: solid 1px black;
  border-radius: 5px;
}

.Alert--error {
  background-color: hsl(0, 50%, 90%);
  border-color: hsl(0, 50%, 80%);
  color: hsl(0, 50%, 30%);
}

.Alert--success {
  background-color: hsl(100, 50%, 90%);
  border-color: hsl(100, 50%, 80%);
  color: hsl(100, 50%, 30%);
}
