.ListingForm {
  margin: 0 auto;
  max-width: 600px;
}

.ListingForm__preview-label {
  margin-top: 0;
}

.ListingForm__preview {
  width: 320px;
  padding: 10px;
  border: 1px dashed grey;
  margin: 0 auto 2em;
}

@media (min-width: 992px) {
  .ListingForm {
    margin: 0;
  }

  .ListingForm__thumbnail {
    display: none;
  }

  .ListingForm__preview {
    margin: 0;
    position: fixed;
    top: 150px;
    right: 50px;
  }
}

.ListingForm__thumbnail {
  max-width: 200px;
  max-height: 200px;
}

.ListingForm__field {
  margin-bottom: 2em;
}

.ListingForm__field-label {
  margin-bottom: .25em;
  display: block;
  font-weight: bold;
}

.ListingForm__radio-label {
  display: block;
  font-weight: normal;
}

.ListingForm__disclaimer {
  color: grey;
  margin-bottom: 2em;
}

.ListingForm__input-info {
  margin-left: .5em;
  color: grey;
  font-weight: normal;
}

.ListingForm__dropzone {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
}
