.ListingTile {
  box-shadow: 0 1px 3px 1px #ddd, 0 0 0 1px #ddd;
}

.ListingTile__content {
  padding: 10px;
}

.ListingTile__headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ListingTile__title {
  margin: 5px 0;
  font-size: larger;
}

.ListingTile__deadline {
  color: grey;
  margin: 0;
}

.ListingTile__tag--placeholder {
  color: grey;
  font-style: italic;
}

.ListingTile__image-wrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.ListingTile__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
