.Tag {
  margin-right: .5em;
  padding: 0 .5em;
  border-top: 1px dashed transparent;
  border-bottom: 1px dashed transparent;
  border-left: 1px dashed grey;
  border-right: 1px dashed grey;
}

.Tag:focus {
  outline: 0;
  border-left-style: solid;
  border-left-color: black;
  border-right-style: solid;
  border-right-color: black;
}

.Tag--clickable {
  cursor: pointer;
}

.Tag--clickable:hover {
  border-top-color: grey;
  border-bottom-color: grey;
  border-left-color: transparent;
  border-right-color: transparent;
}
